/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
    position: fixed;             /* position in the center of the screen */
    left: 0;
    top: 0;
    height: 100vh;                   /* text area height */
    width: 100vw;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

#content {
    position: relative;
    flex: 1;
}

#footer {
    position: relative;
    background: sienna;
    display: flex;
    justify-content: center;
    width: auto;
    padding: 1vh 1vw;
}

#header {
    padding: 1vh 1vw;
    background: sienna;
    display: flex;
    justify-content: space-between;
    width: auto;
}

#footer a {
    color: #1B7DC0;
    border: 1px solid #17609C;
    text-decoration: none;
    border-left-width: 0px;
}

#footer a:last-child {
    border-right-width: 0px;
}

[data-role=page] {
    background: white !important;
    min-width: fit-content !important;
}

img {
    width: 100%;
}

.nav-button {
    background: transparent;
    border: none;
    padding: 1vh 1vw;
    width: 10vw;
    text-align: center;
}